
html {
    font-family: 'PT Sans', sans-serif;
}

.wrapper {
    height: 600px;
    display: grid;
    grid-gap: 1.5em;
    margin: 0 1.5rem 0 0.5rem;
    grid-template-rows: 28% 1fr 8%;
    grid-template-columns: 15% 1fr 15%;
}

.a {
    padding: 1rem;
}

header h1 {
    margin-bottom: 0.25rem;
    font-size: 4em;
    text-align: center;
    font-family: 'Handlee', cursive;
}

header ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

header li {
    /* border: 2px solid darkslategray; */
    border-radius: 6px;
    padding: .5rem 1.25rem;
    background-color: lightgray;
}

header a {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header a:hover {
    box-shadow: 1px 1px 3px gray;
    border-radius: 6px;
}

header a:active {
    transform: translate(1px, 1px);
    color: black;
    box-shadow: none;
}

.left-pane ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 0.5rem;
    align-items: flex-end;
}

.left-pane li {
    margin-bottom: 1.5rem;
    border: 1px solid black;
    background-color: mintcream;
    border-radius: 6px;
    width: 130px;
    padding: 0.5rem;
}

.left-pane a {
    text-decoration: none;
    color: black;
}

.left-pane li:hover {
    box-shadow: 1px 1px 3px gray;
}

.left-pane li:active {
    transform: translate(1px, 1px);
    color: black;
    box-shadow: none;
}

section {
    background-color: white;
}

section div {
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

button {
    background-color: rgb(106, 106, 218);
    color: white;
    border-radius: 8px;
    margin-top: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.75em;
    padding: 0.4rem;
}

button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px gray;
}

button:active {
    transform: translate(1px, 1px);
    box-shadow: none;
    color: white;
}

button:focus {
    outline: 0;
}

.right-pane {
    border: 1px solid darkgray;
    border-radius: 6px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
}

.right-pane img {
    padding: 0.25rem;
}
.right-pane div {
    padding: 0.5rem;
}

footer {
    background-color: lightgray;
    border-radius: 6px;
    padding: 1rem;
}

/* desktop */
@media (min-width: 992px) {
    header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .left-pane {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    section {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .right-pane {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    footer {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}